.hide{display:none;}
.form-horizontal .control-group{margin-bottom: 10px;}
.form-horizontal .control-label{text-align:left;width:200px; color:#666;}
.form-horizontal .controls{display:inline;}
.form-horizontal .controls.inblock{display:inline-block;}
.form-horizontal .maroon{color:#f30;margin-left:5px;}
.form-horizontal .form-actions{padding-left:230px;}
input[type=file]{display:inline;}
.control-group .float{float:left;margin:20px 80px 50px 0;font-weight:bold;color:#666;}
.box-title{border-bottom:1px solid #ccc;margin-bottom:10px;}
.row-fluid{margin-bottom:10px;}
input,textarea{border:1px solid #b9b9b9;}
textarea{
	width: 400px;
    height: 90px;
}
input:focus,textarea:focus {
	outline: none;
	border:1px solid #368EE0;
}
.Validform_title{display:none;}
.Validform_error {
    background-color: #ffe7e7;
}
.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left center;
}
.Validform_right {
    color: #71b83d;
    padding-left: 20px;
    background: url(../images/right.png) no-repeat left center;
}

div.first-right {
    margin-bottom: 10px;
}
.first-right p{
    padding: 0 0 6px 10px;
    background: #D7D7D7;
    font-weight: bold;
    line-height: 35px;
    height: 35px;
}
.first-right input{
	margin-right: 5px;
}
.lower-right{
	font-weight: bold;
	margin-left:15px;
	padding: 0 0 6px 10px;
	list-style:none;
}
.lower-right li{
	margin-bottom: 10px;
}
.menu_root{
	border-top: 1px solid #ccc;
	margin: 20px auto;
	font-weight: bold;
	height: 40px;
	display: block;
	line-height:40px;
	font-size:25px;
}
.first-right a{
	margin: 0 10px;
}

/****/
